*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item{
    background: lightblue;
    padding: 2rem;
    border: 1px solid blue;
    font-size: 2em;
}

.container{
    display: flex;
    flex-direction: row;
}