*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item{
    background: lightblue;
    padding: 2rem;
    border: 1px solid blue;
    font-size: 2em;
    width: 100px;
    margin: 5px 2.5px ;
}

.container{
    display: flex;
    flex-direction: row;
}

.container .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}